-- 创建家长-子女关系表
CREATE TABLE IF NOT EXISTS parent_child_relations (
  id bigint NOT NULL AUTO_INCREMENT,
  parent_id bigint NOT NULL COMMENT '家长ID',
  child_id bigint NOT NULL COMMENT '子女ID',
  relation_type varchar(20) NOT NULL COMMENT '关系类型：father, mother, guardian',
  status varchar(20) NOT NULL COMMENT '关系状态：pending, confirmed, rejected',
  create_time datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  update_time datetime NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (id),
  UNIQUE INDEX idx_parent_child(parent_id, child_id) COMMENT '家长-子女唯一索引'
) ENGINE = InnoDB CHARACTER SET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci COMMENT = '家长-子女关系表' ROW_FORMAT = Dynamic;
